* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    color: #fff;
    font-weight: 100;
    letter-spacing: 1.4px;
}
body {
    background: #81674a;
}
img {
    object-fit: cover;
}

.cart {
    position: relative;
    cursor: pointer;
}
.cart .quan {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #81674a;
    border-radius: 50%;
}

.cart-large {
    transition: all 0.5s;
}
#cart-inactive {
    right: -50%;
}
#cart-active {
    right: 0%;
}

.answer label {
    padding-left: 1vw;
    font-size: 1vw;
}
.answer {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 1vh;
}
.answer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.answer:hover input ~ .checkmark {
    background-color: #ccc;
}
.answer input:checked ~ .checkmark {
    background-color: #2196f3;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.answer input:checked ~ .checkmark:after {
    display: block;
}
.answer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
